* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v7_473 {
  width: 100%;
  height: 6770px;
  background: rgba(18,18,19,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_474 {
  width: 606px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2068px;
  left: 609px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  
}
.v7_475 {
  width: 327px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1640px;
  left: 602px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v7_476 {
  width: 448px;
  height: 549px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 2610px;
  left: 820px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/* web kit */
.v7_479 {
  width: 448px;
  height: 549px;
  background: url("../images/v7_479.png");
  opacity: 1;
  position: absolute;
  vertical-align: middle
  border: 3.0965516567230225px solid linear-gradient(rgba(255,212,33,1), rgba(255,125,5,1));
}
.v7_480 {
  width: 606px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2815px;
  left: 114px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_481 {
  width: 213px;
  color: rgba(255,76,0,1);
  position: absolute;
  top: 2613px;
  left: 252px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v7_482 {
  width: 213px;
  color: rgba(255,76,0,1);
  position: absolute;
  top: 1812px;
  left: 797px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v7_483 {
  width: 448px;
  height: 549px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 3393px;
  left: 139px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_484 {
  width: 448px;
  height: 549px;
  background: url("../images/v7_484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  vertical-align: middle
}


.v7_490 {
  width: 105px;
  height: 17px;
  background: url("../images/v7_490.png");
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 215px;
  border: 3.0965516567230225px solid linear-gradient(rgba(227,35,255,1), rgba(117,23,248,1));
}
.v7_491 {
  width: 448px;
  height: 549px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 4076px;
  left: 866px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_492 {
  width: 156px;
  height: 332px;
  background: url("../images/v7_492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 156px;
  overflow: hidden;
}



/* WEB KIT */
.v7_497 {
  width: 448px;
  height: 549px;
  background: url("../images/v7_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  vertical-align: middle
}




.v7_502 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 986px;
  border-radius: 50%;
}
.v7_602 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 1227px;
  border-radius: 50%;
  filter: blur(8px);
}
.v7_599 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 745px;
  border-radius: 50%;
  filter: blur(8px);

}
.v7_578 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 986px;
  border-radius: 50%;
}
.v7_603 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 1227px;
  border-radius: 50%;
  filter: blur(8px);
}
.v7_600 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 745px;
  border-radius: 50%;
  filter: blur(8px);
}
.v7_577 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 986px;
  border-radius: 50%;
  filter: blur(8px);
}
.v7_604 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 1227px;
  border-radius: 50%;
}
.v7_601 {
  width: 138px;
  height: 138px;
  background: rgba(255,76,0,1);
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 745px;
  border-radius: 50%;
}
.v7_503 {
  width: 600px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3440px;
  left: 750px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v7_504 {
  width: 606px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3674px;
  left: 703px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_505 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4140px;
  left: 200px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v7_506 {
  width: 606px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4335px;
  left: 109px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_507 {
  width: 600px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4891px;
  left: 800px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v7_508 {
  width: 606px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 5106px;
  left: 736px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_509 {
  width: 437px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5644px;
  left: 503px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v7_510 {
  width: 357px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5840px;
  left: 134px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_511 {
  width: 357px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5840px;
  left: 554px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_512 {
  width: 357px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5831px;
  left: 952px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
/* This is the box within*/
.v7_513 {
  width: 448px;
  height: 549px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 4831px;
  left: 118px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*SEARCH KIT */
.v7_514 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 448px;
  height: 549px;
  background: url("../images/v7_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  vertical-align: middle

}




.v7_530 {
  width: 448px;
  height: 549px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 1808px;
  left: 109px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_531 {
  width: 448px;
  height: 549px;
  background: url("../images/v7_531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  vertical-align: middle
}


.v7_540 {
  width: 203px;
  height: 230px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 945px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v7_609 {
  width: 203px;
  height: 230px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 710px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(-90deg);
  overflow: hidden;

}
.v7_610 {
  width: 203px;
  height: 230px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 1181px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v7_611 {
  width: 203px;
  height: 230px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 1182px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v7_605 {
  width: 203px;
  height: 230px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 710px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}

.v7_546 {
  width: 426px;
  height: 124px;
  background: rgba(3,0,146,1);
  opacity: 1;
  position: absolute;
  top: 2230px;
  left: 633px;
  border: 1px solid rgba(3,0,146,1);
  overflow: hidden;
}
.v7_547 {
  width: 426px;
  height: 124px;
  background: rgba(3,0,146,1);
  opacity: 1;
  position: absolute;
  top: 3137px;
  left: 92px;
  border: 1px solid rgba(3,0,146,1);
  overflow: hidden;
}
.v7_548 {
  width: 426px;
  height: 124px;
  background: rgba(3,0,146,1);
  opacity: 1;
  position: absolute;
  top: 3806px;
  left: 699px;
  border: 1px solid rgba(3,0,146,1);
  overflow: hidden;
}
.v7_549 {
  width: 426px;
  height: 124px;
  background: rgba(3,0,146,1);
  opacity: 1;
  position: absolute;
  top: 5198px;
  left: 724px;
  border: 1px solid rgba(3,0,146,1);
  overflow: hidden;
}
.v7_550 {
  width: 426px;
  height: 124px;
  background: rgba(3,0,146,1);
  opacity: 1;
  position: absolute;
  top: 4628px;
  left: 153px;
  border: 1px solid rgba(3,0,146,1);
  overflow: hidden;
}
.v7_551 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2264px;
  left: 724px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_552 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3171px;
  left: 183px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_553 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3840px;
  left: 790px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_554 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5232px;
  left: 815px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_555 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4662px;
  left: 244px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_574 {
  width: 464px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1259px;
  left: 565px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_580 {
  width: 556px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 327px;
  left: 86px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 130px;
  opacity: 1;
  text-align: left;
}
.v7_581 {
  width: 606px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 798px;
  left: 86px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_582 {
  width: 377px;
  height: 117px;
  background: rgba(3,0,146,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 933px;
  left: 68px;
  overflow: hidden;
}
.v7_583 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 104px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
